@import "./variables";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light;
  font-size: 15pt;
}

* {
  box-sizing: border-box;
}

// Spacing
.p1 {
  padding: 10px;
}

.p2 {
  padding: 25px;
}

.mb2 {
  margin-bottom: 40px;
}

// Common
.rounded {
  border-radius: 8px;
}

.rounded2 {
  border-radius: 26px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

// Abstract components
.limited-container {
  @extend .p2, .rounded2;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.block {
  @extend .p2, .rounded;
  background: $extra-light;
}

.block.float {
  box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.07);
}

.block.fullHeight {
  height: 100%;
}

.btn button {
  @extend .rounded;
  padding: 10px 15px;
  background: $dark;
  font-size: 13pt;
  color: white;
  font-weight: 600;
  border: none;
  min-width: 100px;
  cursor: pointer;
  transition: background .2s;

  &:disabled, &[disabled] {
    color: $semi-light;
    background: $grey;
    &:hover {
      background: $grey;
    }
  }

  &:hover {
    background: $semi-dark;
  }
}


// Specific components
.app-header {
  @extend .p2, .mb2;
}

.app-header__welcome {
  @extend .center;
  font-weight: 900;
  font-size: 15pt;
  color: $semi-dark;
  padding-bottom: 25px;
  border-bottom: solid 1px $light;
  width: 300px;
}

.control-box {
  height: 600px;
}

.data-link {
  @extend .p2;
  height: 30px;
  border: solid 1px $grey;
}
