@import "./variables";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light;
  font-size: 14pt;
}

* {
  box-sizing: border-box;
}

// Spacing
.mv1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mh1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mb1 {
  margin-bottom: 20px;
}

.mb2 {
  margin-bottom: 40px;
}

.p1 {
  padding: 10px;
}

.p2 {
  padding: 30px;
}

// Common
.rounded {
  border-radius: 10px;
}

.rounded2 {
  border-radius: 30px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

// Abstract components
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.explain {
  padding-right: 15px;
  color: $semi-dark;
  font-size: 12pt;
}


.limited-container {
  @extend .p2, .rounded2;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.block {
  @extend .p2, .rounded;
  background: $extra-light;
}

.block.float {
  box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.07);
}

.block.fullHeight {
  height: 100%;
}

.btn button {
  @extend .rounded;
  padding: 10px 10px;
  background: $dark;
  color: white;
  font-weight: 600;
  border: none;
  min-width: 100px;
  cursor: pointer;
  transition: background .2s;

  &:disabled, &[disabled] {
    color: #cccccc;
    background: #eaeaea;
    cursor: not-allowed;

    &:hover {
      background: #eaeaea;
    }
  }

  &:hover {
    background: $semi-dark;
  }
}


// Specific components
.app-header {
  @extend .mb1, .center;
  padding-bottom: 30px;
}

.app-header__welcome {
  @extend .center;
  font-weight: 900;
  font-size: 15pt;
  color: $semi-dark;
  padding-bottom: 25px;
  border-bottom: solid 1px $light;
  width: 100%;
}

.control-box {
  height: 700px;
  position: relative;
}

.data-link {
  @extend .rounded2, .mv1, .row;
  height: 100%;
  margin-bottom: 40px;
  padding: 15px;
  transition: background .2s;
  color: $grey;
}

.data-link.disable {
}

.data-link__empty {
  @extend .center;
  color: $dark-light;
  font-style: italic;
}

.data-link__download {
  @extend .row;
  align-items: flex-end;
  width: 100%;
}

.data-link-download__label {
  margin-right: 30px;
}

.data-link-download__link {
}

.reporter {
  @extend .mv1, .rounded;
  height: 200px;
  color: $grey;
}

.reporter ul {
  padding: 15px;
  list-style-type: none;
  margin: 0;
}

.report-row {
  @extend .row;
  margin-bottom: 10px;
}

.report-row--value {
}

.report-row--key {
}

.status {
  @extend .center;
  background: $dark-light;
  position: absolute;
  padding: 5px;
  bottom: 20px;
  width: 440px;
  left: 30px;
  border-radius: 0 0 16px 16px;
  font-size: 11pt;
  font-weight: 900;
  color: $semi-light;

  > div {
    padding: 5px;
  }
}

.status.checking {
  background: $red;
  color: $extra-light;
}

.status.finish {
  background: $green;
  color: $extra-light;
}
