// Palette
$extra-light: #fff;
$light: #eff1f6;
$semi-light: #b1b1b1;
$dark-light: #e4e4e4;
$grey: #949494;
$semi-dark: #484c5e;
$dark: #20253a;

$red: #e84765;
$green: #75d6af;
$blue: #d4ebfb;


$txt-color-blue: #95b7c1;
$txt-color-green: #5e7d71;
$txt-color-red: red;
